
{{#> layout.partial header='Thanks for trying out PosterLab. We’ve pulled
together some information and resources to help you get started.' }}

<!-- Main content -->
<div class="f-fallback">
    <!-- PosterLab -->
    {{#if isPosterLab}}
    <h1
        style="
            margin-top: 0;
            color: #333333;
            font-size: 22px;
            font-weight: bold;
            text-align: left;
        "
        align="left"
    >
        Welcome to PosterLab, {{name}}!
    </h1>
    <p
        style="
            font-size: 16px;
            line-height: 1.625;
            color: #272727;
            margin: 0.4em 0 1.1875em;
        "
    >
        Thanks for trying PosterLab. We’re thrilled to have you on board. To get
        the most out of PosterLab, do this primary next step:
    </p>
     <!-- Oldenburg -->
    {{else if isOldenburg}}
    <h1
        style="
            margin-top: 0;
            color: #333333;
            font-size: 22px;
            font-weight: bold;
            text-align: left;
        "
        align="left"
    >
        Welcome to the Day of Teaching and Learning, Universität Oldenburg,
        {{name}}!
    </h1>
    <p
        style="
            font-size: 16px;
            line-height: 1.625;
            color: #272727;
            margin: 0.4em 0 1.1875em;
        "
    >
        Thanks for being part of the Day of Teaching and Learning, Universität
        Oldenburg. We’re thrilled to have you on board. To get the most out of
        this platform, do this primary next step:
    </p>
    <!-- Default -->
    {{else}}
    <h1
        style="
            margin-top: 0;
            color: #333333;
            font-size: 22px;
            font-weight: bold;
            text-align: left;
        "
        align="left"
    >
        Welcome to {{ tenant.address.name }}, {{name}}!
    </h1>
    <p
        style="
            font-size: 16px;
            line-height: 1.625;
            color: #272727;
            margin: 0.4em 0 1.1875em;
        "
    >
        Thanks for being part of  {{ tenant.address.name }}. We’re thrilled to have you on board. To get
        the most out of PosterLab, do this primary next step:
    </p>
    {{/if }} 


    <!-- Action -->
    {{>action.partial action=actionUrl text='Get Started' }}

    <p
        style="
            font-size: 16px;
            line-height: 1.625;
            color: #272727;
            margin: 0.4em 0 1.1875em;
        "
    >
        If you have any questions, feel free to
        <a href="mailto:{{supportEmail}}" style="color: #3869d4"
            >email our customer success team</a
        >. (We're lightning quick at replying.)
    </p>

    <p
        style="
            font-size: 16px;
            line-height: 1.625;
            color: #272727;
            margin: 0.4em 0 1.1875em;
        "
    >
        Thanks, <br />
        {{#if isPosterLab}}The PosterLab Team{{/if}}
        {{#unless isPosterLab}}{{ tenant.address.name }}
        {{/unless}}
        
    </p>

    <p
        style="
            font-size: 16px;
            line-height: 1.625;
            color: #272727;
            margin: 0.4em 0 1.1875em;
        "
    >
        <strong>P.S.</strong> Need immediate help getting started? Just reply to
        this email, the PosterLab support team is always ready to help!
    </p>

    <!-- URL Copy -->
    {{>url-copy.partial url=actionUrl }}
</div>

{{/layout.partial}}
